

@model List<order>


@{ ViewBag.title = "Admin Home";
                ViewBag.heading = "Home"; }

@section breadcrumb
{
    <li class="breadcrumb-item active">Home</li>
}


<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Opened Orders</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" asp-area="admin" asp-controller="Home" asp-action="Index">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">Pending Orders</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" asp-area="admin" asp-controller="Home" asp-action="pending">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>

</div>
<
<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>DataTable Example</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>order date</th>
                        <th>order Total Price</th>
                        <th>order status</th>
                    </tr>
                </thead>

                @foreach (var item in Model)
                {
    <tr>
        <td> @item.orederDate </td>
        <td> @item.orderTotalPrice</td>
        <td> @item.orderStatus </td>
    </tr>}


            </table>
        </div>
    </div>
</div>